body{
    background-color: purple;
}

#frame{
    width: 800px;
    height: 600px;
    background-color: yellow;
    position: relative;
}

#mario{
    width: 50px;
    height: 50px;
    background-color: purple;
    position: absolute;
    top: 200px;
    left: 200px;
}