body, div{
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    max-width: 800px;
    min-height: 100vh;
    background-color: rgb(241, 180, 241);
}

#status{
    text-align: center;
    letter-spacing: 10px;
}

#imgholder{
    min-height: 20vh;
}